<div class="ui hidden divider"></div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'dedi_sylius_sag_plugin.ui.product_identificiation'|trans }}</h4>

    {{ form_row(form.SAGEan13) }}
    {{ form_row(form.SAGUpc) }}
</div>
