<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="dedi.sylius_sag_plugin.context.dedi_sag_context"
                 class="Dedi\SyliusSAGPlugin\Context\DediSAGContext"
                 public="true">
            <argument key="$apiContext" type="service" id="dedi.sylius_sag_plugin.context.api_context"/>
            <argument key="$apiKeyContext" type="service" id="dedi.sylius_sag_plugin.context.api_key_context"/>
            <argument key="$certificateOfTruthContext" type="service" id="dedi.sylius_sag_plugin.context.certificate_of_truth_context"/>
        </service>

        <service id="dedi.sylius_sag_plugin.context.api_key_context" class="Dedi\SyliusSAGPlugin\Context\ApiKeyContext">
            <argument key="$localeContext" type="service" id="sylius.context.locale"/>
            <argument key="$channelContext" type="service" id="sylius.context.shopper"/>
            <argument key="$apiKeyConfigRepository" type="service" id="dedi_sylius_sag_plugin.repository.api_key_config"/>
        </service>

        <service id="dedi.sylius_sag_plugin.context.api_context" class="Dedi\SyliusSAGPlugin\Context\ApiContext">
            <argument key="$checkTokenEndpoint" type="string">wp-content/plugins/ag-core/api/checkToken.php</argument>
            <argument key="$orderExportEndpoint" type="string">wp-content/plugins/ag-core/api/bulkOrderInfos.php</argument>

            <argument key="$frDomain" type="string">https://www.societe-des-avis-garantis.fr</argument>
            <argument key="$enDomain" type="string">https://www.guaranteed-reviews.com</argument>
            <argument key="$itDomain" type="string">https://www.societa-recensioni-garantite.it</argument>
            <argument key="$esDomain" type="string">https://www.sociedad-de-opiniones-contrastadas.es</argument>
            <argument key="$deDomain" type="string">https://www.g-g-b.de</argument>
            <argument key="$defaultDomain" type="string">https://www.societe-des-avis-garantis.fr</argument>
        </service>

        <service id="dedi.sylius_sag_plugin.context.configuration_context" class="Dedi\SyliusSAGPlugin\Context\ConfigurationContext">
            <argument key="$apiKeyContext" type="service" id="dedi.sylius_sag_plugin.context.api_key_context"/>
        </service>

        <service id="dedi.sylius_sag_plugin.context.certificate_of_truth_context" class="Dedi\SyliusSAGPlugin\Context\CertificateOfTruthContext">
            <argument key="$apiKeyContext" type="service" id="dedi.sylius_sag_plugin.context.api_key_context"/>
        </service>
    </services>
</container>
