/vendor/
/node_modules/
/node_modules
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml

###> dedi ###
.idea
.gitmodules
satisfactory
Makefile
docker-compose.yml
setup.sh
###< dedi ###
