{% if dediSag.countryCode %}
    {% set reviewCount = product.countReviewsForCountryCode(dediSag.countryCode) %}

    {% if reviewCount > 0 %}
        <div class="ui stackable grid segment">
            <div class="reviewGlobal">
                <a href="#tabs-wrapper" class="tab-trigger" data-tab="reviews">
                    <img style="margin-right: 10px;vertical-align: top;" src="{{ asset('bundles/dedisyliussagplugin/img/cocarde.jpg') }}" width="20px">
                </a>
                <div class="steavisgarantisStar">
                    {% include '@SyliusShop/Product/_starRating.html.twig' %}
                </div>
                <a class="agpbt tab-trigger" href="#tabs-wrapper" data-tab="reviews">
                    ({{ reviewCount }} {{ 'sylius.ui.reviews'|trans }})
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}
