{% if sylius.channel.SAGShowIframeWidget and  dediSag.apiKey is not null %}
    <div class="ui card" style="width: 100%">
        <iframe width="100%"
                height="221"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="{{ dediSag.apiDomain }}/wp-content/plugins/ag-core/widgets/iframe/2/h/?id={{ dediSag.apiKey.idSite }}">
        </iframe>
    </div>
{% endif %}
